@import url("reset.css");

body {
  background-color: #171717;

  font-family: "Gilam", sans-serif;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
.header__btn {
  color: #e4b564;
  border: 1px #e4b564 solid;
  font-size: 18px;
  line-height: 1.7;
  padding: 10px 25px 10px 0;
}
.header__btn_call {
  padding: 18px 10px 19px 26px;
}
.main__title {
  margin-top: 120px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 30px;
}
.main__description {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 41px;
}
.works__wrapper {
  height: 963px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr 1fr;
  grid-template-areas:
    "work1 work1 work2 work2 work3 work3"
    "work4 work4 work4 work5 work5 work5";
  gap: 27px 30px;
}
.works__box {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
}
.work1 {
  grid-area: work1;
  background-color: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work2 {
  grid-area: work2;
  background-color: #b4a385;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 206px 43px 206px 44px;
  flex-direction: column;
}
.work3 {
  grid-area: work3;
  background-color: #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work4 {
  grid-area: work4;
  background-color: #635a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work5 {
  grid-area: work5;
  background-color: #b08c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__equipment {
  margin-top: 161px;
}
.equipment__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
}
.equipment__list {
  height: 897px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 24px 30px;
  margin-top: 94px;
  margin-bottom: 191px;
  gap: 27px 30px;
}
.equipment1 {
  background-color: #0e0e0e;
  grid-area: 1 / 1 / 6 / 2;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 44px 52px;
}
.equipment1__name {
  font-weight: 700;
}
.equipment2 {
  background-color: #242424;
  grid-area: 1 / 2 / 8 / 3;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 44px 51px;
}
.equipment2__name {
  font-weight: 700;
}
.equipment3 {
  background-color: #1f1f1f;
  grid-area: 1 / 3 / 5 / 4;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 44px 48px;
}
.equipment4 {
  background-color: #1f1f1f;
  grid-area: 6 / 1 / 16 / 2;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 56px 52px;
}

.equipment5 {
  background-color: #0e0e0e;
  grid-area: 5 / 3 / 11 / 4;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  padding: 44px 48px;
}
.equipment6 {
  background-color: #e4b564;
  grid-area: 8 / 2 / 16 / 3;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  font-weight: 500;
  padding: 47px 52px;
}
.equipment7 {
  background-color: #0a0909;
  grid-area: 11 / 3 / 16 / 4;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  font-weight: 700;
  padding: 44px 48px;
}
.footer__container {
  background-color: #0e0e0e;
}
.footer__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 161px;
}
.footer__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
}
.footer__btn {
  color: #e4b564;
  border: 1px #e4b564 solid;
  font-size: 18px;
  line-height: 1.7;
  padding: 10px 39px 10px 40px;
}
.clients__list {
  margin-top: 61px;
  height: 782px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 239px;
}
.client__name_eid {
  background-color: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__name_mavis {
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mavis__description {
  margin-top: 16px;
  font-size: 22px;
  line-height: 1.3;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mavis__description_bold {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.client__name_arsenal1 {
  background-color: #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__name_arsenal2 {
  background-color: #635a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__name_setgroup {
  background-color: #b08c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
